@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans.ttf") format('truetype');
    // font-weight: normal;
    // font-style: normal;
}
@font-face {
    font-family: "opensansB";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
    // font-weight: normal;
    // font-style: normal;
}
@font-face {
    font-family: "opensansSemi";
    src: url("../fonts/OpenSans-Semibold.ttf") format('truetype');
    // font-weight: normal;
    font-style: normal;
}